:root {
  --main-color: #ff0000;
  --secondary-color: #ffffff;
  --main-font-color: #6a6a6a;
  --secondary-font-color: #b2b2b2;
  --main-border-color: #ff00004d;
  --secondary-border-color: #ffffff29;
  --main-bg-color: #28272c;
  --secondary-bg-color: #fff;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}
header {
  background: url("../images/image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--secondary-color);
}
.nav {
  background: #00000066 0% 0% no-repeat padding-box;
  border-bottom: 2px solid #ffffff33;
}
.nav .container {
  display: flex;
  justify-content: space-between;
}
.nav__menu {
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
}
.nav__menu__item {
  padding: 2em;
}
.nav__menu__item:hover {
  background-color: #6a6a6a;
}
